<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Seri.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Seri.Settings1>
            <setting name="text1" serializeAs="String">
                <value>AT</value>
            </setting>
            <setting name="text2" serializeAs="String">
                <value />
            </setting>
            <setting name="text3" serializeAs="String">
                <value />
            </setting>
            <setting name="text4" serializeAs="String">
                <value />
            </setting>
            <setting name="text5" serializeAs="String">
                <value />
            </setting>
            <setting name="text6" serializeAs="String">
                <value />
            </setting>
        </Seri.Settings1>
    </userSettings>
</configuration>
